/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Oswald');
/*Landing Page*/
html, body {
  height: 100%;
  position: relative;
}

body {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Splash screen*/
#splashScreen {
  align-items: center;
  background: radial-gradient(#414345, #232526);
  background: -o-radial-gradient(#414345, #232526);
  background: -webkit-radial-gradient(#414345, #232526);
  justify-content: center;
  display: flex;
  position: fixed;
  flex-direction: column;
  z-index: 2;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}
#splashScreen:before {
  animation-name: splashScreenAnimation;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  content: '';
  background: url(../img/todo.svg) no-repeat center;
  height: 33.333333%;
  width: 33.333333%;
  display: block;
}

#splashScreen blockquote {
  color: #fff;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

#splashScreen blockquote p {
  margin: 0;
  font-size: 24px;
}

#author {
  font-size: 14px;
  float: right;
  opacity: 75%;
}
#author:before {
  content: '–';
  margin: 0 5px 0 0;
}
#quote:before, #quote:after, #author:before{
  display: inline-block;
}
#quote:before {
  content: '“';
  margin: 0 5px 0 0;
}
#quote:after {
  content: '”';
  margin: 0 0 0 5px;
}
/*Splash screen END*/

/*Landing page*/
video {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: fixed;
  bottom: 0;
  top: 0;
  left:  0;
  right: 0;
}
main {
  text-align: center;
  font-size: 32px;
  color: #fff;
  transform: translate(-50%, -50%);
}
main img {
    margin: 0 auto 40px;
}

main p span {
  color: #C1272D;
  font-weight: bold;
}

main p {
  background: #FF931E;
  border-radius: 5px;
  margin-top: 15px;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 7px;
}

/*Navigation*/
  .navbar-brand img {
    height: 71,5px;
    width: 75px;
  }
/*Navigation END*/

.btn {
  background: #FF931E;
  border-color: #000;
  border: 2px black solid;
}
.btn:hover {
  background: #f1c40f;
  border-color: #000;
}

/*Animations*/
@keyframes splashScreenAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, -400%, 0);
  }
  75% {
    opacity: 50;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
/*Animation END*/