* {
  box-sizing: border-box;
}
html {
  background: #159957;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
html, body {
  height: 100%;
}
body {
margin: 0;

}
.login {
  background: #95a5a6;
  border-radius: 8px;
  text-align: center;
  width: 320px;
  padding: 20px;
}
.login h3 {
  margin: 0 auto 10px;
}
.login input {
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  display: block;
  height: 40px;
  margin: 10px auto 0;
  padding: 0 10px;
  width: 100%;
}
.login input[type=submit] {
  background: #27ae60;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.login a {
  color: #fff;
  font-size: 14px;
  display: block;
  margin: 18px auto 0;
}
#alert {
  background: #e74c3c;
  border-radius: 4px;
  color: #fff;
  line-height: 50px;
  margin: 15px auto 0;
  text-align: center;
  width: 250px;
}
nav {
  background: #190E4F;
  line-height: 50px;
  width: 100%;
}
.ul {
  background: #95a5a6;
  border-radius: 8px;
  width: 320px;
  padding: 20px;
  width: 300px;
}
#login, #register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  background: #242424;
  color: #fff;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  position: relative;
  text-align: center;
}
nav a{
  color: #ddd;
  float: right;
}
/*LOGO*/
nav h1{
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section {
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
  width: 320px;
  margin: 150px auto;
}
section h2 {
  text-align: center;
}
section ul li a {
  float: right;
}